/* General Layout */
body {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px 5%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
    margin-bottom: 1em;
}

/* Floor Plan */
.floor-plan {
    text-align: center;
    margin: 2em 0;
}

.floor-plan img {
    max-width: 100%;
    height: auto;
}

.room-menu a {
    color: #000;
    text-decoration: none;
    padding: 0 10px 0 5px;
    border-right: 2px solid #000;
}

.room-menu a[href="livingroom.html"] {
    border-right: none;
}
/* Section Headers */
.welcome-message h2,
.survey h2,
.services h2,
.location h2,
.gallery h2 {
    background-color: #FFD700;
    padding: 10px;
    margin: 0;
}

/* Sections */
.welcome-message,
.survey,
.services,
.location,
.bedroom1 {
    margin: 1em 0;
    /* border: 1px solid #ddd; */
}

/* Services Table */
.services table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 10px;
}

.services th {
    background-color: #f0f0f0;
}

.services th,
.services td {
    border: 2px solid #ccc;
    padding: 8px;
}
.services_note {
    background-color: rgba(127, 255, 212, 0.514);
}
.details .services table{
    width:35%;
}

/* Gallery */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
}

.gallery-item h3 {
    background-color: #E86C2C;
    color: white;
    padding: 8px;
    margin: 0 0 15px 0;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

/* Room Menu */
.room-menu {
    text-align: center;
    margin: 1em 0;
}


/* Audio Player */
audio {
    width: 60%;
    margin: 10px 0;
}

/* Survey Form */
.survey form {
    padding: 10px;
}

.survey input[type="checkbox"] {
    margin-right: 5px;
}

/* Location Map */
.location img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.details_content h2 {
    margin-bottom: 30px;
}
.details_content img{
    display: block;
    margin: 0 auto;
}

.details_header {
    background-color: #FFD700;
    text-align: center;
    padding: 10px;
    margin: 0;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 2em;
    padding: 1em;
    border-top: 1px solid #ddd;
}