@media screen and (max-width: 600px) {
    body {
        padding: 10px;
        max-width: 100%;
    }

    /* Header Links */
    header p {
        display: none;
    }
    .top_container {
        flex-direction: column;
    }
    .welcome-wrapper {
        width: 100% !important;
    }
    .survey,
    .services,
    .location {
        width: 100% !important;
    }
    .room-menu {
        display: flex;
        flex-direction: column;
        text-align: left;
        /* background-color: #f5f5f5; */
        padding: 10px;
    }

    .room-menu a {
        display: block;
        padding: 5px 0;
        /* border-bottom: 1px solid #ddd; */
        text-align: center;
        border-right: none;
    }

    .room-menu a:last-child {
        border-bottom: none;
    }

    /* Hide Floor Plan */
    .floor-plan {
        display: none;
    }

    /* Gallery */
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Services Table */
    .services table {
        font-size: 14px;
    }
/* 
    .services td {
        display: block;
    } */

    /* Sections */
    .welcome-message,
    .survey,
    .services,
    .location {
        margin: 10px 0;
    }

    .location img {
        width: 50%;
    }
    /* Audio Player */
    audio {
        width: 75%;
    }

    .details_content img{
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    
    .details_header {
        background-color: #FFD700;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    .details .services table{
        width:100% !important;
    }
}

/* Mid-sized screen layout */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        padding: 15px;
    }

    .floor-plan img {
        max-width: 80%;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .services,
    .location {
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }

    .services {
        margin-right: 2%;
    }
}